
html,
body {
	height: 100%;
	width: 100%;
	background: #122139;
	overflow: hidden;
	background-image:url("https://img.freepik.com/free-vector/abstract-chocolate-background-illustration-chocolate-backdrop-wavy_1284-51451.jpg?w=2000&t=st=1675903997~exp=1675904597~hmac=4aa50d6c7e450f848f662ccaf9ac81bd63b94980f68f34017ae401d4dec76caa");
}
body {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align:center;
    color:white;
    font-family:cursive;
}
.essay{
	color:white;
	font-size:20px;
}
h1 {
    color:white;
	font-size: 20px;
}
  